html, body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  background: #CCC;
}

* {
  box-sizing: border-box;
}

.wrap {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.dropzone {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.placeholder {
  width: 100%;
  max-width: 500px;
  background: #F5F5F5;
  border-radius: 1em;
  border: 4px dashed #EAA;
  padding: 2em;
  text-align: center;
}

h1 {
  font-size: 2rem;
  font-weight: 300;
  color: #EAA;
}

.viewer {
  width: 100%;
  height: 100%;
}
